<section class="row gap-3">
    <h1>Minhas Notas</h1>
  
    <div>
      <button routerLink="/notas/criar" class="btn btn-lg btn-outline-primary mb-4 rounded-4">
        <!-- <i class="bi bi-plus-circle"></i> -->
        Criar Nota
      </button>
    </div>

    <div>
      <button class="btn btn-lg bg-info text-white mb-4 rounded-4 me-3" *ngFor="let categoria of categorias">{{ categoria.titulo }}</button>
    </div>
    
    
    <div class="row g-3">
      <div *ngFor="let nota of notas" class="col-sm col-md-6 col-lg-3">
        <app-card-nota [nota]="nota"></app-card-nota>
      </div>
    </div>
  </section>
