<section class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8 d-grid gap-4">
    <div>
      <h1 class="mt-4">Minhas Categorias</h1>
      <button routerLink="/categorias/criar" class="btn btn-lg btn-outline-primary mb-4 rounded-4 mt-4">
        <i class="bi bi-plus-circle"></i>
        Criar Categoria
      </button>
    </div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">id</th>
			<th scope="col">Titulo</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let categoria of categorias; index as i">
			<th>{{ categoria.id }}</th>
			<td>{{ categoria.titulo }}</td>
      <td><button routerLink="/categorias/editar/{{categoria.id}}"><i class="bi bi-pen"></i></button></td>
      <td><button routerLink="/categorias/excluir/{{categoria.id}}"><i class="bi bi-trash"></i></button></td>
		</tr>
	</tbody>
</table>
  </div>
</section>
